.label{
    color: white;
    font-weight: 900;
    margin: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.email, .password{
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.button{
    border: none;
    outline: none;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}